@charset "utf-8"

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

// Primary: 9D6E49
// Secondary: 2C531E
// Red: 982324

// Header footer bg: F6F6F6

// Set your brand colors
$gold: #CCA56E
$green: #2C531E
$red: #982324
// $beige-light: #D0D1CD
// $beige-lighter: #EFF0EB

// Update Bulma's global variables
$family-sans-serif: "Calligraffitti", sans-serif
$family-primary: "Playfair Display"
$family-secondary: "Roboto"
// $grey-dark: #F6F6F6
$widescreen-enabled: false

$primary: $gold
$link: $green
$fullhd-enabled: false
$info: $green
$danger: $red
$grey-light: #F6F6F6

// Update some of Bulma's component variables
$body-background-color: $white
$control-border-width: 2px
$input-border-color: transparent
$input-shadow: none

// Import only what you need from Bulma
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass"
// @import "../node_modules/bulma/sass/layout/section.sass";